<nav>
  <a [routerLink]="['/control']" routerLinkActive="router-link-active">
    🎮 Gamepad 🎮</a
  >
  <a [routerLink]="['/scene']" routerLinkActive="router-link-active">
    🛝 Playground 🛝</a
  >
</nav>
<router-outlet></router-outlet>
<footer>
  <div>
    Made with ❤️ by
    <a href="https://twitter.com/psybercity" target="_blank">@psybercity</a>.
  </div>
  <div>
    Check out the cool
    <a href="https://mandarini.github.io/sensors-demo/" target="_blank"
      >docs page</a
    >
    and the
    <a href="https://github.com/mandarini/sensors-demo" target="_blank">repo</a
    >.
  </div>
</footer>
