nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  a {
    background-color: rgb(137, 115, 210);
    color: white;
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
  }

  .router-link-active {
    background-color: rgb(106, 185, 172);
    color: white;
  }
}

footer {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;

  a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(198, 73, 183);
  }

  a:hover,
  a:active,
  a:focus {
    color: rgb(127, 73, 198);
  }

  a:visited {
    color: rgb(164, 57, 152);
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-size: 16px;
      padding: 8px;
      margin-bottom: 16px;
    }
  }
}
