/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

input,
select {
  margin-bottom: 32px;
  height: 32px;
  line-height: 24px;
  font-size: 24px;
  padding: 8px;
}
